.ProfilePage {
  background-color: #FEFCF0;
  min-height: 100vh;
  padding: 10px;
}

.imgContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.ProfilePicWrapper {
  display: inline-block;
  max-width: 250px;
  position: relative;
}

.ProfilePicImage {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.customFileUpload {
  display: inline-block;
  padding: 10px;
  cursor: pointer;
  background-color: #7D4E57;
  color: white;
  margin: 15px 0;
}

.name {
  text-align: center;
  margin-top: 25px;
  font-size: 30px;
}

.fullname,
.email {
  text-align: center;
  margin-top: 25px;
  padding-right: -5%; /* Shift to the left by 10% */
}

h5 {
  text-align: center;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  padding-left: 0;
  margin-top: 10px;
}

.profileTitle {
  color: #7D4E57;
  text-align: center;
  margin-top: 5%;
}

@media screen and (max-width: 600px) {
  .ProfilePicWrapper {
    width: 70%;
  }

  .fullname,
  .email {
    font-size: 14px;
    padding-right: 0; /* Remove the shift on small screens */
  }
}

.logout {
  font-size: 15px;
  color: black;
}

.extras {
  font-size: 20px;
  color: #7D4E57;
}




