
.Page{
  background-color: #c9c6b4}

  .banner2 p{
    font-size: 200%;
  }

  .carousel-container {
    position: relative;
  }
  
.back{
  display: flex;
  justify-content: left;
  margin-top: 10px;
  margin-left: 10px;
}

.ChosenCusine{
  font-family: 'Italiana';
  font-size: 200%;
  font-weight: bold;
  color: black;
}
.words{
  font-family: 'Italiana';
  font-size: 200%;
  font-weight: bold;
  padding-top: 4%;
  padding: 4%;
  color: black;
}
.banner{
    background-color: #241023;
    padding: 0.4%;
    color: white;
}

.image-carousel-container {
  max-width: 800px;
  margin: 0 auto;
}

.carousel {
  display: flex;
  align-items: center;
}

.carousel button {
  margin: 10px;
  padding: 5px 10px;
  cursor: pointer;
}

.carousel button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.images-wrapper {
  display: flex;
}

.image-slide {
  flex: 1;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(160, 28, 28, 0.1);
  background-color: #f9f9f9;
  padding: 40%;

}


.image-slide img {
  max-width: 100%;
  max-height: 200px;
  border-radius: 8px;
}

.page-count {
  text-align: center;
  margin-top: 10px;
}



.ingredient-slide {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  background-color: whitesmoke; /* Red fill color */
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition on hover */
}

.ingredient-slide:hover {
  background-color: blue; /* Blue hover color */
}

/*  */