.form-container {
  position: absolute; 
  bottom: 250px; 
  left: 320px;  
  max-width: 400px;
  height: 10vh;
  padding: 20px;
  /* z-index: 3;  */

}


.form-container button {
  width: 100%;
  padding: 10px;
  background-color: #412020;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  color: #fff; 
}



.bowl-image {
  position: absolute;
  bottom: 190px;
  left: 200px;
  width: 500px; 
  height: 400px; 
  /* z-index: 1; */
}

.return {
  position: relative;
  z-index: 2;
}

p{
  color: black;
  font-weight: bold;
  text-decoration: underline;
  text-align: center;

}


.return {

  position: relative;
  z-index: 2;
}

p{
  color: black;
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
}

.return {
  display: flex;
  justify-content: flex-end;
  align-items: right;
  height: 100vh;
  padding: 20px;
}
  
.form-container input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  font-size: 16px;
}

.form-container button {
  width: 100%;
  padding: 10px;

  background-color: #412020;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.form-container button:disabled {
  cursor: not-allowed;
}

.ingredients-list {
  position: absolute;
  bottom: 500px; 
  left: 955px; 
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.ingredients-list p {
  margin-bottom: 5px;
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
  color: black;
}

.return a button {
  position: absolute;
  bottom: 350px; 
  left: 1000px; 
  padding: 10px;
  background-color: transparent;
  border: 3px solid #3B945E;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  color: #3B945E;
  text-decoration: none;
}

.ingredient_title {
  font-family: 'Italiana';
  font-size: 40px;
  margin-top: 60px;
  margin-right: 290px;

}

.ladle-image {
  position: absolute;
  width: 350px;
  height: 350px;
  top: 150px;
  left: 300px;
  
  /* set ladle visible
  opacity: 1;

  /* define the animation */
  /* animation: stir 2s linear infinite;
  z-index: 3; */
}

/* this animation keyframes causes the ladle to rotate in a circular motion */
/* @keyframes stir {
  0% {
    transform: rotate3d(1, 0, 0, 0deg) translate3d(0px, 0px, 0px);
  }

  25% {
    transform: rotate3d(1, 0, 0, -20deg) translate3d(0px, 10px, 0px);
  }

  50% {
    transform: rotate3d(1, 0, 0, 0deg) translate3d(0px, 0px, 0px);
  }

  75% {
    transform: rotate3d(1, 0, 0, 20deg) translate3d(0px, -10px, 0px);
  }

  100% {
    transform: rotate3d(1, 0, 0, 0deg) translate3d(0px, 0px, 0px);
  }
} */





