
.Page{
  background-color: #FEFCF0}

.ChosenCusine{
  font-family: 'Italiana';
  font-size: 200%;
  font-weight: bold;
  padding-top: 4%;
  padding: 4%,
}
.banner{
    background-color: #241023;
    padding: 0.4%;

    color: white;

}

.image-carousel-container {
  max-width: 800px;
  margin: 0 auto;
}

.carousel {
  display: flex;
  align-items: center;
}

.carousel button {
  margin: 10px;
  padding: 5px 10px;
  cursor: pointer;
}

.carousel button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.images-wrapper {
  display: flex;
}

.image-slide {
  flex: 1;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

.image-slide img {
  max-width: 100%;
  max-height: 200px;
  border-radius: 8px;
}

.page-count {
  text-align: center;
  margin-top: 10px;
}

/* .form-container {
  position: absolute;
  bottom: 250px;
  left: 320px;
  max-width: 400px;
  height: 10vh;
  padding: 20px;
}

.form-container button {
  width: 100%;
  padding: 10px;
  background-color: #412020;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  color: #fff;
}

.bowl-image {
  position: absolute;
  bottom: 190px;
  left: 200px;
  width: 500px;
  height: 400px;
}

.return {
  position: relative;
  z-index: 2;
}

p {
  color: black;
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
}

.return {
  position: relative;
  z-index: 2;
}

p {
  color: black;
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
}

.return {
  display: flex;
  justify-content: flex-end;
  align-items: right;
  height: 100vh;
  padding: 20px;
}

.form-container input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  font-size: 16px;
}

.form-container button {
  width: 100%;
  padding: 10px;

  background-color: #412020;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.form-container button:disabled {
  cursor: not-allowed;
}

.ingredients-list {
  position: absolute;
  bottom: 500px;
  left: 955px;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.ingredients-list p {
  margin-bottom: 5px;
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
  color: black;
}

.return a button {
  position: absolute;
  bottom: 350px;
  left: 1000px;
  padding: 10px;
  background-color: transparent;
  border: 3px solid #3b945e;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  color: #3b945e;
  text-decoration: none;
}

.ingredient_title {
  font-family: "Italiana";
  font-size: 40px;
  margin-top: 60px;
  margin-right: 290px;
}
 */
