.form-container {
  position: absolute; 
  bottom: 350px;
  left: 340px; 
  max-width: 400px;
  height: 10vh;
  padding: 20px;
}


.form-container button {
  width: 100%;
  padding: 10px;
  background-color: #412020;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  color: #fff; 
}


.bowl-image {
  position: absolute;
  bottom: 0px;
  left: 100px;
  width: 700px; 
  height: 600px; 
  z-index: 1;
}


.bowl-image {
  position: absolute;
  bottom: 0px;
  left: 100px;
  width: 700px; 
  height: 600px; 
  z-index: 1;
}

.return {
  position: relative;
  z-index: 2;
}

p{
  color: black;
  font-weight: bold;
  text-decoration: underline;
  text-align: center;

}


.return {

  position: relative;
  z-index: 2;
}

p{
  color: black;
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
}

.return {
  display: flex;
  justify-content: flex-end;
  align-items: right;
  height: 100vh;
  padding: 20px;
}
  
.form-container input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  font-size: 16px;
}

.form-container button {
  width: 100%;
  padding: 10px;

  background-color: #412020;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.form-container button:disabled {
  cursor: not-allowed;
}

.ingredients-list {
  position: absolute;
  bottom: 500px; /* Adjust as needed */
  left: 955px; /* Adjust as needed */
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.ingredients-list p {
  margin-bottom: 5px;
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
  color: black;
}

.return a button {
  position: absolute;
  bottom: 350px; 
  left: 1000px; 
  padding: 10px;
  background-color: #412020;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
}

.ingredient_title {
  font-family: 'Italiana';
  font-size: 40px;
  margin-top: 60px;
  margin-right: 290px;

}