
.landing {
  position: relative; /* Make this a positioned parent */
  width: 100%;
  height: 100vh; /* adjust this to suit your needs */
  overflow: hidden;
}


video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  object-fit: cover;
}

.Pages {
  width: 100%;
  object-fit: cover;
  display: flex;
  flex-wrap: wrap;
}
.Pages > * {
  width: 100%;
  display: flex;
  background-color: #6B0504;
  padding: 20px;
  box-shadow: 0 2px 4px rgb(251, 250, 250);
}
.centered-text {
  flex: 1;
  padding-right: 20px;
  color: #FFFBFB;
}
.centered-text p {
  margin: 0 0 15px;
  line-height: 1.5;
  font-size: 16px;
  color: #FFFBFB;
}
@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
  .typewriter-animation {
  /* font-size: 1000%; */
  font-size: 8vw; /* 8% of the viewport's width */
  color: white;
  overflow: hidden;
  white-space: nowrap;
  animation: typewriter 3s steps(40)forwards, blinking 1s infinite;
  border-right: 2px solid;
  margin-bottom: 10%;
}
@keyframes blinking {
  0% {border-right-color: transparent}
  50% {border-right-color: white}
  100% {border-right-color: transparent}
}
.erasing-animation {
  color:white;
  /* font-size: 200%; */
  font-size: 3vw; /* 3% of the viewport's width */
  overflow: hidden;
  white-space: nowrap;
  /* animation: eraser 3s steps(40) infinite; */
  text-decoration: none;
}
@keyframes eraser {
  from {
    width: 0;
    /* width: 100%;  */
  }
  to {
    width: 100%;
    /* width: 0;  */
  }
}
 .container {
  transform: translateY(100%);
  transition: transform 0.5s ease-out;
}
/* for the typrwriter script */
@keyframes typing {
  /* from {
    width: 0;
  } */
  from {
    width: 0;
    /* width: 100%;  */
  }
  to {
    width: 100%;
    /* width: 0;  */
  }
}
/* .typewriter-text {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  white-space: nowrap;
} */


.typewriter-text {
  position: absolute;
  top: 40%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  /* center the text block */
}

/* testing scroll fuction */
/* .scroll{
  position:absolute;
  bottom:40px;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-align: center;
  opacity: 0.6;
  will-change: opacity;
} */


/* .scroll {
  animation: blinking 1.5s infinite;
  position: absolute;
  bottom: 40px;
  left: 50%; /* Center the element horizontally */
  /* transform: translateX(-50%); */
  /* letter-spacing: 3px; */
  /* text-transform: uppercase; */
  /* text-align: center; */
  /* opacity: 0.8; Increase the opacity to make the text more visible */
  /* will-change: opacity; */
/* } */ 

.scroll {
  position: absolute;
  bottom: 100px; /* adjust this as needed */
  left: 50%; /* Center the element horizontally */
  transform: translateX(-50%);
}



@keyframes blink {
  0% { opacity: 1; } /* Visible */
  50% { opacity: 0; } /* Invisible */
  100% { opacity: 1; } /* Visible */
}

/* for smaller screens */
@media screen and (max-width: 600px) {
  h1.typewriter-animation {
    font-size: 3rem; 
  }
  p.erasing-animation  {
    font-size: 1.2rem; 
  }
}
