.landing {
  display: flex; /* Use flexbox layout */
  justify-content: center; /* Center the content horizontally */
  align-items: flex-start; /* Align the content to the top of the page */
}

 video {
  position: relative;
  opacity: 0.7;
  height: 50%;
  object-fit: cover;
  width: 100%;
}
.Pages {
  width: 100%;
  object-fit: cover;
  display: flex;
}
.Pages > * {
  width: 100%;
  display: flex;
  background-color: #6B0504;
  padding: 20px;
  box-shadow: 0 2px 4px rgb(251, 250, 250);
}
.centered-text {
  flex: 1;
  padding-right: 20px;
  color: #FFFBFB;
}
.centered-text p {
  margin: 0 0 15px;
  line-height: 1.5;
  font-size: 16px;
  color: #FFFBFB;
}
@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
  .typewriter-animation {
  font-size: 1000%;
  color: white;
  overflow: hidden;
  white-space: nowrap;
  animation: typewriter 3s steps(40)forwards, blinking 1s infinite;
  border-right: 2px solid;
}
@keyframes blinking {
  0% {border-right-color: transparent}
  50% {border-right-color: white}
  100% {border-right-color: transparent}
}
.erasing-animation {
  color:white;
  font-size: 200%;
  overflow: hidden;
  white-space: nowrap;
  /* animation: eraser 3s steps(40) infinite; */
  text-decoration: none;
}
@keyframes eraser {
  from {
    width: 0;
    /* width: 100%;  */
  }
  to {
    width: 100%;
    /* width: 0;  */
  }
}
 .container {
  transform: translateY(100%);
  transition: transform 0.5s ease-out;
}
/* for the typrwriter script */
@keyframes typing {
  /* from {
    width: 0;
  } */
  from {
    width: 0;
    /* width: 100%;  */
  }
  to {
    width: 100%;
    /* width: 0;  */
  }
}
.typewriter-text {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  white-space: nowrap;
}
/* testing scroll fuction */
/* .scroll{
  position:absolute;
  bottom:40px;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-align: center;
  opacity: 0.6;
  will-change: opacity;
} */
.scroll {
  animation: blinking 1.5s infinite;
  position: absolute;
  bottom: 40px;
  left: 50%; /* Center the element horizontally */
  transform: translateX(-50%);
  letter-spacing: 3px;
  text-transform: uppercase;
  text-align: center;
  opacity: 0.8; /* Increase the opacity to make the text more visible */
  will-change: opacity;
}
@keyframes blink {
  0% { opacity: 1; } /* Visible */
  50% { opacity: 0; } /* Invisible */
  100% { opacity: 1; } /* Visible */
}