.landing {
  height: 800px;
  display: flex; /* Use flexbox layout */
  justify-content: center; /* Center the content horizontally */
  align-items: flex-start; /* Align the content to the top of the page */
}

.video-container {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
}

.container {
  transform: translateY(100%);
  transition: transform 0.5s ease-out;
}

/* 

video {
  width: 150%; /* Set the video width to 100% to make it responsive 
  display: block;
}
*/

@keyframes typing {
  from {
    width: 0;
  }
}

.typewriter-text {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  white-space: nowrap;
}

.typewriter-text h1 {
  display: inline-block;
  overflow: hidden;
  animation: typing 6s steps(40) infinite, blink-caret 1s step-end infinite alternate;
}

.typewriter-text p {
  display: inline-block;
  overflow: hidden;
  animation: typing 5s steps(35) infinite, blink-caret 1s step-end infinite alternate;
}


/* .Pages {
  padding: 2%;
  margin: 2px;
  /* Add padding or margin as needed */
/* }  */

.Pages .container {
  transform: translateY(0); /* Reset the transform to 0 for the sliding effect */
}