.Info {
  height: 40vw;
  background-color: #5e0b15;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 0vw;
  padding-bottom: 2%;
}
.Explore-button {
  margin: 16%;
}
.banner3 {
  background-color: #5e0b15;
  font-family: cursive;
}

.text {
  font-family: cursive;
  color: #fccd04;
  font-size: 400%;
}

.ptext {
  color: white;
  align-items: center;
  font-size: 150%;
}

.About {
  border-style: dotted;
  border-color: #fccd04;
  border-width: 3px;
  padding: 1%;
  top: 0%;
  padding-top: 0%;
}

.Get-Started {
  padding: 4%;
  border-style: dotted;
  border-color: #fccd04;
  border-width: 3px;
  padding-top: 0%;
}

.Recipes {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1%;
  border-style: dotted;
  border-color: #FCCD04;
  border-width: 3px;
  padding-top: 0%;
}

.info-button{
    color:white;

}


.info-LEARN-button{
    color:black;
    margin:0;
    padding: 0;

}

.info-MIX-button{
    color:black;
    margin:0;
    padding: 0;

}

