.Info{
    height: 40vw;
    background-color: #5E0B15 ;
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 0vw;
}

.banner3{

    background-color: #5E0B15 ;
    font-family: cursive; 
}

.text{
font-family: cursive;
color:#FCCD04;
font-size: 400%;
}

.ptext{
color:white;
align-items: center;
font-size: 150%;

}

.About{
border-style: dotted;
border-color: #FCCD04;
/* border-bottom: 1in; */
border-width: 3px;
padding: 1%;
top:0%;
padding-top: 0%;
}

.Get-Started{
padding: 4%;
border-style: dotted;
border-color: #FCCD04;
border-width: 3px;
padding-top: 0%;
}

.Recipes{
padding: 1%;
border-style: dotted;
border-color: #FCCD04;
border-width: 3px;
padding-top: 0%;
}