.list {
  color: black;
}

.ingredient-textbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 80%;
  margin: 0 auto;
  padding: 20px;
}

h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.INList {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
  padding-left: 0;
  margin-top: 10px;
  border-radius: 4%;
  border-color:black ;
}


li {
  display: flex;
  align-items: center;
  background-color: #f0f0f0;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 5px;
}

.Delete-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff6666;
  color: white;
  border: none;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  cursor: pointer;
  margin-left: 10px;
}
h2 {
  color: black;
}
  
  .Stir-button {
    padding: 8px 16px;
    background: transparent;
    color: white;
    border: 3px solid white;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
  }
