/* img .ingredient-image {

    size-adjust: 10%;
} */
.ingredient-containment {
  width : 100vw;
}

h1{
  color: white;
}



  
  /* Position the "Previous" button on the left
  .Pagnation:first-child {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  /* Position the "Next" button on the right */
  /* .Pagnations:last-child {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }  */
  
  /* Optional: Style the page count element */
  .page-count {
    text-align: center;
    margin-top: 10px;
    color:white;
  }




.image-carousel-container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .carousel {
    display: flex;
    align-items: center;
  }
  
  .carousel button {
    margin: 10px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .carousel button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  
  .images-wrapper {
    display: flex;
  }
  
  .image-slide {
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
  }
  
  .image-slide img {
    max-width: 100%;
    max-height: 200px;
    border-radius: 8px;
  }
  
  .page-count {
    text-align: center;
    margin-top: 10px;
  }


.MOVE{
  width: 100vw;
  /* display: flex; */

}
.images-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  overflow-x: hidden;
  padding: 10px;
  color: aqua;
}

.ingredient-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 250px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-right: 10px;
  cursor: pointer;
}

.ingredient-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.Pagnation {
  margin-right: 10px;
}