.How-container{
    height: 45vw;
    background-color:#eabd0b ;
}
.centered-text{
    display: flex;
    align-items: center;
}

.img{
    size-adjust: 80vw;
}

.text{
    color: black;
}

.mix{
    padding: 2%;
}

.pick{
    padding: 2%;
}

.try{
    padding: 2%;

}

.banner4{
    font-weight: 100;
    background-color: #241023;
    color:white;
}