.How-container{
    height: 45vw;
    background-color: #5E0B15 ;
}
.centered-text{
    display: flex;
    align-items: center;
}

.classtext{
    font-family: cursive;
    font-weight: bolder;
    font-size: 3vw;
margin-left: 3vw;}
.img{
    size-adjust: 80vw;
}

.text{
    color: black;
}

.mix{
    padding: 2%;
}

.pick{
    padding: 2%;
    size: 1vw;
}

.try{
    padding: 2%;

}

.banner4{
    font-weight: 100;
    background-color: #5E0B15;
    color:white;
}